{% extends 'base.html.twig' %}

{% block title %}Answer{% endblock %}

{% block body %}
    <h1>Answer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ answer.text }}</td>
            </tr>
            <tr>
                <th>Correct</th>
                <td>{{ answer.correct ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mr-2" href="{{ path('answer_index') }}"><i class="fas fa-arrow-circle-left"></i> {{'Back to list'|trans}}</a>

    {% if is_granted('ROLE_TEACHER') %}
        <a class="btn btn-primary" href="{{ path('answer_edit', {'id': answer.id}) }}"><i class="fas fa-pencil-alt"></i> {{'Edit'|trans}}</a>
    {% endif %}

{% endblock %}
