{% extends 'base.html.twig' %}

{% block title %}
	{{'Sign in'|trans}}
{% endblock %}

{% block body %}

<div
	class="example-wrapper">

	<img src="/images/JoliQuiz-300x111_smiley.png" alt="JoliQuiz">

	<div class="jumbotron">
		<h1>
			<i class="fa fa-lock"></i>
			{{'Sign in'|trans}}</h1>

		{% if error %}
			<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<form action="{{ path('app_login') }}" method="post">
			<label for="username">Email:</label>
			<input type="text" id="username" name="_username" value="{{ last_username }}">

			<label for="password">Password:</label>
			<input type="password" id="password" name="_password">

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="btn btn-primary float-md-right" type="submit">
				<i class="fas fa-sign-in-alt"></i>
				{{'Login'|trans}}</button>

            {#
			<a href="{{ path('password_new') }}">{{'Forgot your password'|trans}}</a>
            #}

		</div>

        <h6 class="text-center">
            {% trans %}Sign up if you do not have an account. It's simple and fast.{% endtrans %}
            <a href="{{ path('app_register') }}">{{'I create my free account...'|trans}}</a>
        </h6>
		
	</div>

{% include '_home_bottom.html.twig' %}

{% endblock %}