{% extends 'base.html.twig' %}

{% block title %}{{'Sign in'|trans}}{% endblock %}

{% block body %}

<div class="example-wrapper">

    <img src="https://raw.githubusercontent.com/LaurentBouquet/joliquiz/assets/JoliQuiz.png" alt="JoliQuiz">

    <div class="jumbotron">
        <h1>{{'Sign in'|trans}}</h1>

        {{ form_start(form) }}

            {{ form_row(form.username, {'id': 'username', 'full_name': '_username'}) }}
            {{ form_row(form.plainPassword, {'id': 'password', 'full_name': '_password'}) }}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

            <button class="btn btn-primary float-md-right" type="submit"><i class="fas fa-sign-in-alt"></i> {{'Login'|trans}}</button>

        {{ form_end(form) }}

    </div>

    <h6 class="text-center">
        {% trans %}Sign up if you do not have an account. It's simple and fast.{% endtrans %}
        <a href="{{ path('register') }}">{{'I create my free account...'|trans}}</a>
    </h6>

</div>

{% include 'home_bottom.html.twig' %}

{% endblock %}
