{# security/passwordreset.html.html.twig #}
{% extends('base.html.twig') %}

{% block body %}
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 cell">
            <h1>{{ 'Renew password'|trans }}</h1>
            {{form_start(form)}}
            {{form_row(form.plainPassword.first)}}
            {{form_row(form.plainPassword.second)}}
            <button class="btn btn-primary float-md-right" type="submit"><i class="fas fa-save"></i> {{'Save'|trans}}</button>
            {{form_end(form)}}
        </div>
    </div>
</div>
{% endblock %}