{# security/passwordrequest.html.html.twig #}
{% extends('base.html.twig') %}

{% block body %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 cell">

                <h1>{{ 'Forgot your password?'|trans }}</h1>
                <p>{{ 'Please enter your email address, we will send you an email to re-initialize your password.'|trans }}</p>

                {{form_start(form)}}
                {{form_row(form.email)}}
                <button class="btn btn-primary float-md-right" type="submit"><i class="fas fa-arrow-alt-circle-right"></i> {{'Send'|trans}}</button>
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}