{{ form_start(form) }}

    {{ form_widget(form) }}

    <a class="btn btn-secondary" href="{{ path('question_index') }}"><i class="fas fa-arrow-circle-left"></i> {{'Back to list'|trans}}</a>
    {% if is_granted('ROLE_TEACHER') %}
        <button class="btn btn-primary"><i class="fas fa-check"></i> {{ button_label|default('Save'|trans) }}</button>
        <a class="btn btn-primary" href="{{ path('question_new', {'category': category_id}) }}"><i class="fas fa-plus"></i> {{'Create new question'|trans}}</a>

    {% endif %}

{{ form_end(form) }}
