{{ form_start(form) }}
    {{ form_widget(form) }}

    <a class="btn btn-secondary" href="{{ path('question_index') }}"><i class="fas fa-angle-left"></i> Back to list</a>
    {% if is_granted('ROLE_TEACHER') %}
        <button class="btn btn-primary"><i class="fas fa-check"></i> {{ button_label|default('Save') }}</button>
    {% endif %}

{{ form_end(form) }}
