{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>Question index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Multiple</th>
                <th>Categories</th>
                <th>Answers</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.text }}</td>
                <td>{{ question.multiple ? 'Yes' : 'No' }}</td>
                <td>
                  {% for category in question.categories %}
                     - {{ category.longname }} <br>
                  {% endfor %}
                </td>
                <td>
                  {% for answer in question.answers %}
                     {% if answer.correct %}+{% else %}-{% endif %} {{ answer.text }} <br>
                  {% endfor %}
                </td>
                <td>
                    <a href="{{ path('question_show', {'id': question.id}) }}">show</a>
                    <a href="{{ path('question_edit', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('question_new') }}">Create new</a>
{% endblock %}
