{% extends 'base.html.twig' %}

{% block title %}{{'Question index'|trans}}{% endblock %}

{% block body %}
    <h1>
        <i class="fa fa-tasks"></i>
        {{'Question index'|trans}} 
        {% if category_short_name %}
            {% trans %}of the category{% endtrans %} "<span style="background-color: #ffff00;" }}>{{ category_short_name }}</span>"
        {% endif %}
        ({{ questions|length }})
    </h1>    

    {% if is_granted('ROLE_TEACHER') %}
        <div class="mb-3">
            <a class="btn btn-warning" href="{{ path('question_new', {'category': category_id}) }}"><i class="fas fa-plus"></i> {{'Create new question'|trans}}</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-light" href="{{ path('question_index', {'only-orphan': 1}) }}"><i class="fas fa-tasks"></i> {{'Show questions without category'|trans}}</a>
            {% endif %}
            {% if category_id %}
                <a class="btn btn-primary" href="{{ path('category_edit', {'id': category_id}) }}"><i class="fas fa-pencil-alt"></i> {{'Edit Category'|trans}}</a>
                {% if (questions|length) > 3 %}
                    <a class="btn btn-warning" href="{{ path('quiz_new', {'category': category_id}) }}"><i class="fas fa-plus"></i> {{'Create new quiz'|trans}}</a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'Label'|trans }}</th>
                <th>{{ 'Categories'|trans }}</th>
                {% if is_granted('ROLE_TEACHER') %}
                    <th>{{ 'Answers'|trans }}</th>
                {% endif %}
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>
                    {{ question.text[:60] }} {{ question.text|length>60 ? '...' : '' }}
                </td>
                <td>
                  {% for category in question.categories %}
                     - 
                     <span {{ category.id == category_id ? 'style="background-color: #ffff00;"' : '' }}>
                     <a href="{{ path('question_index', {'category': category.id}) }}">{{ category.shortname }}</a>
                     </span>
                     <br>                     
                  {% endfor %}
                </td>                
            {% if is_granted('ROLE_TEACHER') %}
                <td>
                    {% for answer in question.answers %}
                        {% if answer.correct %}+{% else %}-{% endif %} {{ answer.text[:30] }} {{ answer.text|length>30 ? '...' : '' }}<br>
                    {% endfor %}
                </td>
                <td>
                    <div class="form-check-inline">
                        {% if is_granted('ROLE_TEACHER') %}
                            <a class="btn btn-primary btn-sm mr-2" href="{{ path('question_edit', {'id': question.id}) }}" title="{{'Edit'|trans}}"><i class="fas fa-pencil-alt"></i></a>
                            {{ include('question/_delete_form.html.twig') }}
                        {% else %}
                            <a class="btn btn-primary btn-sm mr-2" href="{{ path('question_show', {'id': question.id}) }}" title="{{'Show'|trans}}"><i class="fas fa-eye"></i></a>
                        {% endif %}
                    </div>
                </td>
            {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{'no records found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if questions|length > 10 %}
        {% if is_granted('ROLE_TEACHER') %}
            <div class="mb-3">
                <a class="btn btn-warning" href="{{ path('question_new', {'category': category_id}) }}"><i class="fas fa-plus"></i> {{'Create new question'|trans}}</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-light" href="{{ path('question_index', {'only-orphan': 1}) }}"><i class="fas fa-tasks"></i> {{'Show questions without category'|trans}}</a>
                {% endif %}
                {% if category_id %}
                    <a class="btn btn-primary" href="{{ path('category_edit', {'id': category_id}) }}"><i class="fas fa-pencil-alt"></i> {{'Edit Category'|trans}}</a>
                    {% if (questions|length) > 3 %}
                        <a class="btn btn-warning" href="{{ path('quiz_new', {'category': category_id}) }}"><i class="fas fa-plus"></i> {{'Create new quiz'|trans}}</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
