{% extends 'base.html.twig' %}

{% block title %}{{'Question index'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Question index'|trans}}</h1>

    {% if is_granted('ROLE_TEACHER') %}
        <div class="mb-3">
            <a class="btn btn-primary" href="{{ path('question_new') }}"><i class="fas fa-plus"></i> {{'Create new question'|trans}}</a>
        </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Categories'|trans }}</th>
                <th>{{ 'Label'|trans }}</th>
                {% if is_granted('ROLE_TEACHER') %}
                    <th>{{ 'Answers'|trans }}</th>
                {% endif %}
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>
                  {% for category in question.categories %}
                     - {{ category.shortname }} <br>
                  {% endfor %}
                </td>
                <td>{{ question.text[:60] }} {{ question.text|length>60 ? '...' : '' }}</td>
                {% if is_granted('ROLE_TEACHER') %}
                    <td>
                      {% for answer in question.answers %}
                         {% if answer.correct %}+{% else %}-{% endif %} {{ answer.text[:30] }} {{ answer.text|length>30 ? '...' : '' }}<br>
                      {% endfor %}
                    </td>
                    <td>
                        <div class="form-check-inline">
                            {% if is_granted('ROLE_TEACHER') %}
                                <a class="btn btn-primary btn-sm mr-2" href="{{ path('question_edit', {'id': question.id}) }}" title="{{'Edit'|trans}}"><i class="fas fa-pencil-alt"></i></a>
                                {{ include('question/_delete_form.html.twig') }}
                            {% else %}
                                <a class="btn btn-primary btn-sm mr-2" href="{{ path('question_show', {'id': question.id}) }}" title="{{'Show'|trans}}"><i class="fas fa-eye"></i></a>
                            {% endif %}
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{'no records found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if questions.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(questions, 'twitter_bootstrap4_translated', {routeName: 'question_index_paginated'}) }}
        </div>
    {% endif %}

{% endblock %}
