{% extends 'base.html.twig' %}

{% block title %}{{'Category index'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Category index'|trans}}</h1>

    {% if is_granted('ROLE_TEACHER') %}
        <div class="mb-3">
            <a class="btn btn-primary" href="{{ path('category_new') }}"><i class="fas fa-plus"></i> {{'Create new category'|trans}}</a>
        </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Shortname'|trans }}</th>
                <th>{{ 'Longname'|trans }}</th>
                {% if is_granted('ROLE_TEACHER') %}
                    <th>{{ 'Actions'|trans }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.shortname }}</td>
                <td>{{ category.longname }}</td>
                <td>
                    <div class="form-check-inline">
                        <a class="btn btn-primary btn-sm mr-2" href="{{ path('category_show', {'id': category.id}) }}"><i class="fas fa-eye"></i> {{'Show'|trans}}</a>
                        {% if is_granted('ROLE_TEACHER') %}
                            <a class="btn btn-primary btn-sm mr-2" href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-pencil-alt"></i> {{'Edit'|trans}}</a>
                            {{ include('category/_delete_form.html.twig') }}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{'no records found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
