{% extends 'base.html.twig' %}

{% block title %}{{'Category'|trans}} "{{ category.shortname }}"{% endblock %}

{% block body %}
    <h1>{{'Category'|trans}} "{{ category.shortname }}"</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Language'|trans }}</th>
                <td>{{ category.language }}</td>
            </tr>
            <tr>
                <th>{{ 'Shortname'|trans }}</th>
                <td>{{ category.shortname }}</td>
            </tr>
            <tr>
                <th>{{ 'Longname'|trans }}</th>
                <td>{{ category.longname }}</td>
            </tr>
            <tr>
                <th>{{ 'Quizzes'|trans }}</th>
                <td>
                  {% for quiz in category.quizzes %}
                     - {{ quiz.title }} <br>
                  {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mr-2" href="{{ path('category_index') }}"><i class="fas fa-arrow-circle-left"></i> {{'Back to list'|trans}}</a>

    {% if is_granted('ROLE_TEACHER') %}
        <a class="btn btn-primary" href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-pencil-alt"></i> {{'Edit'|trans}}</a>
    {% endif %}

{% endblock %}
