{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Shortname</th>
                <td>{{ category.shortname }}</td>
            </tr>
            <tr>
                <th>Longname</th>
                <td>{{ category.longname }}</td>
            </tr>
            <tr>
                <th>Quizzes</th>
                <td>
                  {% for quiz in category.quizzes %}
                     - {{ quiz.title }} <br>
                  {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mr-2" href="{{ path('category_index') }}"><i class="fas fa-chevron-left"></i> {{'Back to list'|trans}}</a>

    {% if is_granted('ROLE_TEACHER') %}
        <a class="btn btn-primary" href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-pencil-alt"></i> {{'Edit'|trans}}</a>
    {% endif %}

{% endblock %}
