{% extends 'base.html.twig' %}

{% block title %}{{'Welcome!'|trans}}{% endblock %}

{% block body %}

    {% if (not is_granted('USER')) %}
        <script type="text/javascript">
            setInterval(function () {
                window.location.assign("/login/");
            }, 120000);
        </script>
    {% endif %}

    <div class="example-wrapper">

        <!-- <img src="/images/JoliQuiz-300x111.png" alt="JoliQuiz"> -->
        <img src="/images/JoliQuiz-300x111_smiley.png" alt="JoliQuiz">        

        <div class="jumbotron">
            <h3>{{'Need to check on students’ performance?'|trans}}</h3>
            <p></p>
            <h6>{{'Here is the tool you need!'|trans}} {{'JoliQuiz is an online quiz software.'|trans}} {{'A simple and free tool.'|trans}}</h6>
            <hr class="my-4">
            <h3>{{'Features'|trans}}</h3>
            <ul>
                <li>{{'Motivating interactive content'|trans}}</li>
                <li>
                    {{'Image support, automatic social media integration'|trans}}
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="not yet implemented">
                        <i class="fas fa-clock"></i>
                    </span>
                </li>
                <li>
                    {{'Automatic scoring'|trans}}
                </li>
                <li>
                    {{'Real-time activity tracking (receive the results of students by email)'|trans}}
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="not yet implemented">
                        <i class="fas fa-clock"></i>
                    </span>
                </li>
                <li>
                    {{'Test your audience via smartphone and provide live results during a presentation'|trans}}
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="not yet implemented">
                        <i class="fas fa-clock"></i>
                    </span>
                </li>
            </ul>
            <p>{{'License:'|trans}} {{'It is free software that you can copy and modify.'|trans}}</p>

            <a class="btn btn-primary float-md-right" href="{{ path('app_login') }}" role="button">{{ 'Let\'s start now'|trans}} <i class="fas fa-arrow-circle-right"></i></a>
        </div>

    </div>

{% include '_home_bottom.html.twig' %}

{% endblock %}
