{% extends 'base.html.twig' %}

{% block title %}{{ 'Password Reset Email Sent'|trans }}{% endblock %}

{% block body %}

	{% if (not is_granted('ROLE_TEACHER')) %}
        <script type="text/javascript">
            setInterval(function () {
                window.location.assign("/quiz/");
            }, 60000);
        </script>
	{% endif %}
    
    <p>
        {{ 'If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.'|trans }}
        
        {{ 'This link will expire in'|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.            
        

    </p>
    <p>{{ "If you don't receive an email please check your spam folder or"|trans }} <a href="{{ path('app_forgot_password_request') }}">{{ 'try again'|trans }}</a>.</p>
{% endblock %}
