{% extends 'base.html.twig' %}

{% block title %}{{ 'Reset your password'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Reset your password'|trans }}</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">{{ 'Reset password'|trans }}</button>
    {{ form_end(resetForm) }}
    
{% endblock %}
