{% extends 'base.html.twig' %}

{% block title %}{{ 'EcoleDirecte - Select evaluation subject'|trans }}{% endblock %}

{% block body %}
	<h1>{{ 'EcoleDirecte - Select evaluation subject'|trans }}</h1>

{% if response == 200 %}		
	{% for etablissement in etablissements %}
			{% for niveau in etablissement.niveaux %}
			<tr>
				<td>
					<table class="table">	
					{% for classe in niveau.classes %}
						{% set groupInSession = false %}
						{% for workout in session.workouts %}
							{% for group in workout.student.groups %}
								{% set groupInSession = (group.edId == classe.id) %}
							{% endfor %}
						{% endfor %}
						{% if groupInSession %}
						<tr>
							<td>{{ classe.libelle }}</td>
							<td>
								<table>	
								{% for periode in classe.periodes %}
									{% if periode.id < 99 %}
										{% if (date(periode.dateDebut) <= date()) and (date(periode.dateFin) >= date()) %}
											<tr>
												<td class="">{{ periode.libelle }}</td>
												<td>
													<table class="table-hover table-bordered">	
													{% for matiere in periode.matieres %}
													<tr>
														<td>
															{{ matiere.libelle }}
														</td>
													</tr>
													{% endfor %}
													</table>
												</td>
											</tr>
										{% endif %}
									{% endif %}
								{% endfor %}
								</table>
							</td>
						</tr>
						{% endif %}
					{% endfor %}
					</table>
				</td>
			</tr>
			{% endfor %}
	{% endfor %}
{% else %}
	{{ message }}
{% endif %}



{% endblock %}
