{% extends 'base.html.twig' %}

{% block title %}{{'Edit Quiz'|trans}} "{{ quiz.title }}"{% endblock %}

{% block body %}
    <h1><i class="fa fa-graduation-cap"></i> {{'Edit Quiz'|trans}} "<span style="background-color: #ffff00;" }}>{{ quiz.title }}</span>"</h1>

    {% if is_granted('ROLE_TEACHER') %}
        {{ include('quiz/_form.html.twig', {'button_label': 'Save'|trans}) }}
    {% endif %}

{% endblock %}
