{% extends 'base.html.twig' %}

{% block title %}{{'End Quiz'|trans}} "{{ quiz.title }}"{% endblock %}

{% block body %}
    <h1>{{'End Quiz'|trans}} "{{ quiz.title }}"</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Categories'|trans }}</th>
                <td>
                  {% for category in quiz.categories %}
                     - {{ category.longname }} <br>
                  {% endfor %}
                </td>
            </tr>
            {% if quiz.summary %}
            <tr>
                <th>{{ 'Summary'|trans }}</th>
                <td>{{ quiz.summary }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{{ 'Number of questions'|trans }}</th>
                <td>{{ quiz.numberOfQuestions }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mr-2" href="{{ path('quiz_index') }}"><i class="fas fa-arrow-circle-left"></i> {{'Back to list'|trans}}</a>


{% endblock %}
