{% extends 'base.html.twig' %}

{% block title %}Quiz index{% endblock %}

{% block body %}
    <h1>Quiz index</h1>

    <table class="table">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Title</th>
                <th>Questions</th>
                <th>Categories</th>
                {% if is_granted('ROLE_TEACHER') %}
                    <th>Active</th>
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
            <tr>
                <!-- <td>{{ quiz.id }}</td> -->
                <td>{{ quiz.title }}</td>
                <td>{{ quiz.numberOfQuestions }}</td>
                <td>
                  {% for category in quiz.categories %}
                     - {{ category.longname }} <br>
                  {% endfor %}
                </td>
                {% if is_granted('ROLE_TEACHER') %}
                    <td>{{ quiz.active ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('quiz_show', {'id': quiz.id}) }}">show</a>
                        <a href="{{ path('quiz_edit', {'id': quiz.id}) }}">edit</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_TEACHER') %}
        <a href="{{ path('quiz_new') }}">Create new</a>
    {% endif %}

{% endblock %}
