{% extends 'base_without_menu.html.twig' %}

{% block title %}
	{{'Workout index'|trans}}
{% endblock %}

{% block body %}
	<h6>{{'Quiz'|trans}}
		"{{ quiz.title }}"
		{# , 'Europe/Paris' #}
		<span>{{'started at'|trans}}
			{{ startedAt|date('m/d/Y H:i:s') }}</span>
	</h6>

	{% if is_granted('ROLE_TEACHER') %}
    <div class="table-responsive-sm">
		<table class="table table-striped table-sm">
            <!--
			<thead>
				<tr>
                    {% if showStudentsName %}
                        <th class="text-center">{{ 'Name'|trans }}</th>
					    <th class="text-center">{{ 'Progress'|trans }}</th>                        
                    {% else %}
					    <th class="text-center" width="90%">{{ 'Progress'|trans }}</th>                        
                    {% endif %}
					{# <th class="text-center">{{ 'Score'|trans }}</th> #}
					{# <th class="text-center">{{ 'Duration'|trans }}</th> #}
					<th colspan="2" class="text-center" width="10%">{{ 'Completed'|trans }}</th>
				</tr>
			</thead>
            -->
			<tbody>
				{% for workout in workouts %}
                    {% if workout.completed %}
					    {% set progress = (workout.numberOfQuestions / quiz.numberOfQuestions) * 100 %}
                    {% else %}
					    {% set progress = ((workout.numberOfQuestions - 1) / quiz.numberOfQuestions) * 100 %}
                    {% endif %}

					<tr>
                        {% if showStudentsName %}
                            <td width="10%" class="text-center align-middle" style="padding: 1px;">
                            {{ workout.student.username }}
                            </td>
                            <td width="80%" class="text-center align-middle">
                        {% else %}
                            <td width="90%" class="text-center align-middle">
                        {% endif %}
							<div class="progress" style="height: 10px;">
								<div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</td>
						{% if workout.completed %}
							<td class="text-right align-middle" style="padding: 1px;">                                
                                {{ (workout.endedAt|date("U") - workout.startedAt|date("U"))|date("i:s") }}
                            </td>
                            {% if (workout.score < 25) %}
    						<td class="text-left align-middle font-weight-bold text-danger" style="padding: 2px;">
                            {% elseif (workout.score < 50) %}
    						<td class="text-left align-middle font-weight-bold text-warning" style="padding: 2px;">
                            {% elseif (workout.score < 75) %}
    						<td class="text-left align-middle font-weight-bold text-primary" style="padding: 2px;">
                            {% else %}
    						<td class="text-left align-middle font-weight-bold text-success" style="padding: 2px;">
                            {% endif %}
                                {{ workout.score|default("0") }} %
                            </td>
						{% else %}
							<td class="text-right align-middle" style="padding: 1px;">                                
                            </td>                            
    						<td class="text-left align-middle font-weight-bold text-primary" style="padding: 2px;">
                                {# {{ ("now"|date("U") - workout.startedAt|date("U"))|date("i:s")  }}                                 #}
                            </td>
						{% endif %}
						{# <td class="text-center align-middle"><i class="{{ workout.completed ? 'fas fa-check-square text-primary' }}"></i></td> #}
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="mb-3">
			<a class="btn btn-warning" 
                {% if showStudentsName %}
                    title="{{'Hide users name'|trans}}"
                    href="{{ path('quiz_monitor', {'id': quiz.id, 'show': 0}) }}">
    				<i class="far fa-user"></i>
                {% else %}
                    title="{{'Show users name'|trans}}"
                    href="{{ path('quiz_monitor', {'id': quiz.id, 'show': 1}) }}">
    				<i class="fas fa-user"></i>
                {% endif %}                    
            </a>            
            {% if workouts|length > 0 %}
                <a class="btn btn-primary float-right" href="{{ path('quiz_podium', {'id': quiz.id, 'show': showStudentsName}) }}">
                    {{ 'Podium'|trans }} <i class="fas fa-arrow-circle-right"></i>
                </a>
            {% endif %}
		</div>
    </div>

	{% else %}
		<p>Not allowed !</p>
	{% endif %}

{% endblock %}
