{% extends 'base.html.twig' %}

{% block title %}
	{{'Quiz index'|trans}}
{% endblock %}

{% block body %}
	<h1>{{'Quiz'|trans}}
		"{{ quiz.title }}"
		{# , 'Europe/Paris' #}
		<span>{{'started at'|trans}}
			{{ startedAt|date('m/d/Y H:i:s') }}</span>
	</h1>

	{% if is_granted('ROLE_TEACHER') %}

		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th class="text-center">{{ 'Position'|trans }}</th>
                    {% if showStudentsName %}
                        <th>{{ 'Name'|trans }}</th>
                    {% endif %}
					<th class="text-center" width="50%">{{ 'Progress'|trans }}</th>
					<th class="text-center">{{ 'Score'|trans }}</th>
					<th class="text-center">{{ 'Duration'|trans }}</th>
					<th class="text-center">{{ 'Completed'|trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% set position = 0 %}

				{% for workout in workouts %}
					{% set position = position + 1 %}
					{% set progress = (workout.numberOfQuestions / quiz.numberOfQuestions) * 100 %}

					<tr>
						<td class="text-center align-middle">{{ position }}</td>
                        {% if showStudentsName %}
                            <td>{{ workout.student.username }}</td>
                        {% endif %}
						<td class="text-center align-middle">
							<div class="progress" style="height: 10px;">
								<div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</td>
						<td class="text-center align-middle font-weight-bold text-primary lg h4">{{ workout.score|default("0") }}
							%</td>
						{% if workout.completed %}
							<td class="text-center align-middle">
                                {# {{ (date( workout.endedAt | date() ).diff(date(workout.startedAt)))|date }} #}
                                {{ (workout.endedAt|date("U") - workout.startedAt|date("U"))|date("i:s")  }}                                
                            </td>
						{% else %}
							<td class="text-center align-middle">{{ (date( "now" | date() ).diff(date(workout.startedAt)))|date }}</td>
						{% endif %}
						{# <td class="text-center align-middle"><i class="{{ workout.completed ? 'fas fa-check-square text-primary' : 'far fa-square text-muted' }}"></i></td> #}
						<td class="text-center align-middle"><i class="{{ workout.completed ? 'fas fa-check-square text-primary' }}"></i></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="mb-3">
			<a class="btn btn-warning" href="{{ path('quiz_monitor', {'id': quiz.id, 'show': not(showStudentsName)}) }}">
				<i class="fas fa-user"></i>
                {% if showStudentsName %}
                    {{'Hide users name'|trans}}
                {% else %}
                    {{'Show users name'|trans}}
                {% endif %}                    
            </a>
		</div>

	{% else %}
		<p>Not allowed !</p>
	{% endif %}

{% endblock %}
