{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h1>Quiz</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ quiz.title }}</td>
            </tr>
            {% if quiz.summary %}
            <tr>
                <th>Summary</th>
                <td>{{ quiz.summary }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Number_of_questions</th>
                <td>{{ quiz.numberOfQuestions }}</td>
            </tr>
            <tr>
                <th>Categories</th>
                <td>
                  {% for category in quiz.categories %}
                     - {{ category.longname }} <br>
                  {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Result after question</th>
                <td>{{ quiz.showResultQuestion ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ quiz.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ quiz.createdAt ? quiz.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ quiz.updatedAt ? quiz.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mr-2" href="{{ path('quiz_index') }}"><i class="fas fa-arrow-circle-left"></i> {{'Back to list'|trans}}</a>

    {% if is_granted('ROLE_TEACHER') %}
        <a class="btn btn-primary" href="{{ path('quiz_edit', {'id': quiz.id}) }}"><i class="fas fa-pencil-alt"></i> {{'Edit'|trans}}</a>
    {% endif %}

{% endblock %}
