{% extends 'base.html.twig' %}

{% block title %}{{'Quiz'|trans}} "{{ quiz.title }}"{% endblock %}

{% block body %}
    <h1><i class="fas fa-user"></i> {{'Quiz'|trans}} "{{ quiz.title }}"</h1>

    <table class="table">
        <tbody>
            {% if quiz.summary %}
            <tr>
                <th>{{ 'Summary'|trans }}</th>
                <td>{{ quiz.summary }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{{ 'Number of questions'|trans }}</th>
                <td>{{ quiz.numberOfQuestions }}</td>
            </tr>
            <tr>
                <th>{{ 'Categories'|trans }}</th>
                <td>
                  {% for category in quiz.categories %}
                     - {{ category.longname }} <br>
                  {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'Start quiz comment'|trans }}</th>
                <td>{{ quiz.startQuizComment }}</td>
            </tr>
            <tr>
                <th>{{ 'Result after question'|trans }}</th>
                <td>{{ quiz.showResultQuestion ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{{ 'Result quiz comment'|trans }}</th>
                <td>{{ quiz.resultQuizComment }}</td>
            </tr>
            <tr>
                <th>{{ 'Active'|trans }}</th>
                <td>{{ quiz.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{{ 'Allow anonymous workout'|trans }}</th>
                <td>{{ quiz.allowAnonymousWorkout ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{{ 'Created_at'|trans }}</th>
                <td>{{ quiz.createdAt ? quiz.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Updated_at'|trans }}</th>
                <td>{{ quiz.updatedAt ? quiz.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mr-2" href="{{ path('quiz_index') }}"><i class="fas fa-arrow-circle-left"></i> {{'Back to list'|trans}}</a>

    {% if is_granted('ROLE_TEACHER') %}
        <a class="btn btn-primary" href="{{ path('quiz_edit', {'id': quiz.id}) }}"><i class="fas fa-pencil-alt"></i> {{'Edit'|trans}}</a>
    {% endif %}

{% endblock %}
