{% extends 'base.html.twig' %}

{% block title %}{{'Quiz'|trans}} "{{ quiz.title }}"{% endblock %}

{% block body %}
    <h1>{{'Quiz'|trans}} "{{ quiz.title }}"</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Categories'|trans }}</th>
                <td>
                  {% for category in quiz.categories %}
                     - {{ category.longname }} <br>
                  {% endfor %}
                </td>
            </tr>
            {% if quiz.summary %}
            <tr>
                <th>{{ 'Summary'|trans }}</th>
                <td>{{ quiz.summary }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{{ 'Number of questions'|trans }}</th>
                <td>{{ quiz.numberOfQuestions }}</td>
            </tr>
        </tbody>
    </table>

    <div class="progress" style="height: 10px;">
        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <form action="{{ path('quiz_workout', {'id': id}) }}" method="post">
        {% if (is_granted('ROLE_TEACHER')) %}
            <a class="mt-3 btn btn-secondary mr-2" href="{{ path('quiz_index') }}"><i class="fas fa-arrow-circle-left"></i> {{'Back to list'|trans}}</a>
        {% endif %}
        {% if (is_granted('ROLE_USER')) or (quiz.allowAnonymousWorkout) %}
            <button class="mt-3 float-right btn btn-primary mr-2" type="submit">{{ button_label|default('Next'|trans) }} <i class="fas fa-arrow-circle-right"></i></button>
            <span class="mt-4 mr-2 float-right">{{ "Please click on the 'Next' button to begin..."|trans }} </span>
        {% endif %}
    </form>

{% endblock %}
