{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h1>Quiz "{{ quiz.title }}"</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Number</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ question.text }}</td>
            </tr>
            <tr>
                <th>Answers</th>
                <td>
                  {% for answer in question.answers %}
                     {{ answer.text }} <br>
                  {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('quiz_workout', {'id': quiz.id}) }}">next</a>
    {% endif %}

    {{ include('quiz/_delete_form.html.twig') }}
{% endblock %}
