{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h1>Quiz "{{ quiz.title }}" ({{ questionNumber }}/{{ quiz.numberOfQuestions }}) {{ (questionResult==1) ? '-> OK' : '' }} {{ (questionResult==-1) ? '-> KO' : '' }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {% if is_granted('ROLE_USER') %}
            <button class="btn">{{ button_label|default('Next') }}</button>
        {% endif %}
    {{ form_end(form) }}

{% endblock %}
