{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h1>
        Quiz "{{ quiz.title }}" ({{ questionNumber }}/{{ quiz.numberOfQuestions }}) &nbsp;
        {% if (questionResult==1) %}
            <i class="fas fa-thumbs-up" style="font-size:30px; color: green"></i>
            <!-- #d4edda -->
        {% endif %}
        {% if (questionResult==-1) %}
            <i class="fas fa-thumbs-down" style="font-size:30px; color: red"></i>
            <!-- #f8d7da -->
        {% endif %}
    </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {% if is_granted('ROLE_USER') %}
            <button class="btn btn-primary mr-2" type="submit"><i class="fas fa-play"></i> {{ button_label|default('Next'|trans) }}</button>
        {% endif %}
    {{ form_end(form) }}

{% endblock %}
