{# templates/emails/passwordresetting.html.html.twig #}
    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="background_main"
        style="background-color: #ffffff; padding-top: 20px; color: #434245; width: 100%; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; ">
        <tr>
            <td valign="top" class="sm_full_width"
                style="margin: 0 auto; width: 100%; max-width: 600px; display: block;">
                <div class="sm_no_padding"
                    style="margin: 0 auto; padding: 30px 0 40px; display: block; box-sizing: border-box;">

                    <table style="width: 100%; color: #434245;" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="box-sizing: border-box;">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>

                                            <img src="https://raw.githubusercontent.com/LaurentBouquet/joliquiz/assets/JoliQuiz-300x111.png"
                                                alt="JoliQuiz" />

                                            <h1 style="font-size: 30px; padding-right: 30px; padding-left: 30px;">
                                                To change password</h1>

                                            <p style="font-size: 17px; padding-right: 30px; padding-left: 30px;">
                                                {{ 'Hi,'|trans }}<br/>
                                                {{ 'Please click this link to change your password:'|trans }}<br/>
                                                <a href="{{absolute_url(path('password_reset', {'id': user.id, 'token': user.token}))}}">{{ 'Change my password'|trans }}</a>
                                            </p>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="email_footer"
                style="padding: 0 30px 40px; border-top: 1px solid #E1E1E4; line-height: 24px; font-size: 15px; color: #717274; text-align: center; width: 100%;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center"
                    style="margin-top: 20px; background-color: white;">
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <span style="display: block;">
                                Powered by <a href="{{ app.request.schemeAndHttpHost }}"
                                    style="text-decoration: none; color: #434245;">JoliQuiz</a>
                                <br />
                            </span>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>