{#
   This is a template fragment designed to be included in the bottom of home template
#}

<ul class="nav nav-tabs justify-content-center fixed-bottom bg-light">
        <a class="nav-link" target="_blank" title="{{'MIT License'|trans}}" href="https://opensource.org/licenses/mit-license.php"><img height="22" width="22" src="https://i0.wp.com/opensource.org/wp-content/uploads/2023/01/OSI_Horizontal_Logo_0.png" alt="{{'MIT License'|trans}}"></a>
        <a class="nav-link" target="_blank" title="{{'Powered by Symfony'|trans}}" href="https://symfony.com/"><img width="84" src="https://raw.githubusercontent.com/LaurentBouquet/joliquiz/assets/symfony_black_02.png" alt="{{'Powered by Symfony'|trans}}"></a>
        <a class="nav-link" target="_blank" title="{{'Code hosted by GitHub'|trans}}" href="https://github.com/LaurentBouquet/joliquiz"><img height="26" width="26" src="https://github.com/fluidicon.png" alt="{{'Code hosted by GitHub'|trans}}"></a>
        <a class="nav-link" target="_blank" title="{{'Request a new feature'|trans}}" href="https://github.com/LaurentBouquet/joliquiz/issues"><img height="26" width="26" src="https://raw.githubusercontent.com/LaurentBouquet/joliquiz/assets/JoliQuiz_logo-30x30_transparent_bold.png" alt="{{'Request a new feature'|trans}}"></a>
</ul>
