<!DOCTYPE html>
<html lang="{{ (locale ?? 'en')|upper }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/images/favicon.ico">

        <title>JoliQuiz -
            {% block title %}{% endblock %}
        </title>

        {% block stylesheets %}{% endblock %}

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/css/style.css">

        <!-- Fonts Awesome CSS -->
        <link rel="stylesheet" href="/css/fontawesome.css">

    </head>

    <body>

        {% if (not is_granted('ROLE_TEACHER')) %}
            <script type="text/javascript">
                setInterval(function () {
                    window.location.assign("/logout/");
                }, 600000);
            </script>
        {% endif %}

        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <a class="navbar-brand text-warning" title="JoliQuiz" href="/"><img src="/images/logo_MENU.png" height="32" alt="JoliQuiz"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">

                    {# <li>                                             
                        <a class="nav-link text-warning switch" id="test" href="#">
                            <i id="light-dark-mode-toggle-button" class="fas fa-toggle-off"></i>
                        </a>
                    </li>   #}
                            
                    <li>
                        <span class="nav-link active text-dark">{{ (locale ?? 'en')|upper }}</span>
                    </li>
                    
                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <a class="nav-link {% if '/quiz/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('quiz_index') }}"><i class="fa fa-graduation-cap"></i> {{'Quizzes'|trans}}</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_TEACHER') %}
                        {# <li>
                            <a class="nav-link {% if '/question/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('question_index') }}">{{'Questions'|trans}}</a>
                        </li> #}
                        <li>
                            <a class="nav-link {% if '/category/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('category_index') }}"><i class="fa fa-tag"></i> {{'Categories'|trans}}</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a class="nav-link {% if '/group/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('group_index') }}"><i class="fa fa-users"></i> {{'Groups'|trans}}</a>
                        </li>
                        <li>
                            <a class="nav-link {% if '/user/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('user_index') }}"><i class="fa fa-user"></i> {{'Users'|trans}}</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <!--
                        <li>
                            <a class="nav-link {% if '/school/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('school_index') }}">{{'Schools'|trans}}</a>
                        </li>
                    -->
                    {% endif %}                    

                </ul>
                <ul class="navbar-nav">                
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        {# <li>
                            <a class="nav-link {% if '/configuration/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('app_configuration_allow_account_creation') }}" title="{{'Allow user account creation'|trans}}"><i class="fas fa-user-plus"></i></a>
                        </li> #}
                        <li>
                            <a class="nav-link {% if '/configuration/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('app_configuration_allow_account_creation', {'value': 0}) }}" title="{{'Allow user account creation'|trans}}"><i class="fas fa-user-plus text-danger"></i></a>                            
                        </li>
                        <li>
                            <a class="nav-link {% if '/configuration/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('app_configuration_allow_account_creation', {'value': 1}) }}" title="{{'Allow user account creation'|trans}}"><i class="fas fa-user-plus text-success"></i></a>                            
                        </li>
                        <li>
                            <a class="nav-link {% if '/configuration/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('app_configuration_index') }}" title="{{'Configuration'|trans}}"><i class="fas fa-tools"></i></a>
                        </li>

                    {% endif %}                      
                    {% if is_granted('ROLE_USER') %}
                        {% if app.user %}   
                            {% if (is_granted('ROLE_TEACHER')) %}
                                    <li>                                             
                                        <a title="{{ app.user.email }}" class="nav-link" href="{{ path('user_profile') }}">
                                            <span><i class="fas fa-user"></i> <strong>{{ app.user.username }}</strong></span>
                                        </a>
                                    </li>
                            {% else %}
                                {% if quiz is not defined %}
                                    <li>                                             
                                        <a title="{{ app.user.email }}" class="nav-link" href="{{ path('user_profile') }}">
                                            <span><i class="fas fa-user"></i> <strong>{{ app.user.username }}</strong></span>
                                        </a>
                                    </li>
                                {% endif %}                            
                            {% endif %}
                        {% endif %}                        
                        <li>                        
                            <a class="nav-link" href="{{ path('app_logout2') }}">
                                <i class="fas fa-sign-out-alt"></i> 
                                {% if '/quiz/' not in app.request.server.get('REQUEST_URI') %} {{'Logout'|trans}}{% endif %}
                            </a>                                                
                        </li> 
                    {% else %}
                        {% if app.user %}
                            {% if quiz is not defined %}
                                <li>                                             
                                    <a title="{{ app.user.email }}" class="nav-link" href="{{ path('user_profile') }}">
                                        <span><i class="fas fa-user"></i> <strong>{{ app.user.username }}</strong></span>
                                    </a>
                                </li>
                            {% endif %} 
                        {% endif %}                         
                        
                        {% if MAIN_ALLOW_USER_ACCOUNT_CREATION is defined %}
                            {% if MAIN_ALLOW_USER_ACCOUNT_CREATION > 0 %}
                                <li>
                                    <a class="nav-link text-success {% if '/register' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('app_register') }}">
                                        <i class="fas fa-user"></i> {{'Sign up'|trans}}
                                    </a>
                                </li>
                            {% endif %}    
                        {% endif %}   
                        
                        <li>
                            <a class="nav-link text-primary {% if '/login' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('app_login') }}">
                                <i class="fas fa-lock"></i> {{'Sign in'|trans}}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </nav>

        <main role="main" class=""> <!-- class="container" -->

            <div class="starter-template">
                <div class="col-md-12 col-lg-12 col-xl-12 py-4">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                {{ message|trans }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="col-sm-12">
                    {% block body %}{% endblock %}
                </div>

            </div>

        </main>
        <!-- /.container -->

        <!-- Bootstrap core JavaScript ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/darkmode.js"></script>

        {% block javascripts %}{% endblock %}

    </body>
</html>
