<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/images/favicon.ico">

        <title>JoliQuiz</title>

        {% block stylesheets %}{% endblock %}

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/css/style.css">

        <!-- Fonts Awesome CSS -->
        <link rel="stylesheet" href="/css/fontawesome.css">

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
            <!-- <a class="navbar-brand text-warning" title="JoliQuiz">JoliQuiz</a> -->
            <a class="navbar-brand text-warning" title="JoliQuiz"><img src="/images/logo_MENU.png" height="32" alt="JoliQuiz"></a>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <!-- <li>
                        <span class="nav-link active text-dark">{{ (locale ?? 'en')|upper }}</span>
                    </li> -->
                    <li class="text-white">
                        {% block title %}{% endblock %}
                    </li>                     
                </ul>
                <ul class="navbar-nav">
                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <a class="nav-link {{ app.user.loginType=='ED' ? 'text-warning' : '' }}" title="{{ 'LoginType'|trans }} : {{ app.user.loginType }}">
                                <i class="fas fa-user"></i>
                                {% if app.user %}
                                    <strong>{{ app.user.username }}</strong>
                                {% endif %}
                            </a>
                        </li>
                        <!-- if (app.request.attributes.get('_route') in ['quiz_result']) -->
                        {% if (score is defined) %}
                            <li>
                                <a class="nav-link" href="{{ path('app_logout') }}">{{'Logout'|trans}}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>

        </nav>

        <main role="main" class="">

            <div class="header">
                <div class="col-sm-12">
                    {% block header %}{% endblock %}
                </div>
            </div>
            
            <div class="starter-template"> 
                <div class="col-md-12 col-lg-12 col-xl-12">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="col-sm-12">
                    {% block body %}{% endblock %}
                </div>
            </div> 

        </main>

        <br/>
        <!-- /.container -->

        <!-- Bootstrap core JavaScript ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        
        {% block javascripts %}{% endblock %}

    </body>
</html>
