{% extends 'base.html.twig' %}

{% block title %}School{% endblock %}

{% block body %}
    <h1>{{'School'|trans}} "{{ school.name }}"</h1>    

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'N°'|trans }}</th>
                <td>{{ school.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Description'|trans }}</th>
                <td>{{ school.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Code'|trans }}</th>
                <td>{{ school.code }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-secondary mr-2" href="{{ path('school_index') }}"><i class="fas fa-arrow-circle-left"></i> {{'Back to list'|trans}}</a>
        <a class="btn btn-primary" href="{{ path('school_edit', {'id': school.id}) }}"><i class="fas fa-pencil-alt"></i> {{'Edit'|trans}}</a>
    {% endif %}

{% endblock %}
