{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.isActive) }}
    {{ form_row(form.roles) }}

    <a class="btn btn-secondary" href="{{ path('user_index') }}"><i class="fas fa-angle-left"></i> Back to list</a>
    <button class="btn btn-primary"><i class="fas fa-check"></i> {{ button_label|default('Save') }}</button>

{{ form_end(form) }}
