{% extends 'base.html.twig' %}

{% block title %}
    {{'User index'|trans}}
        {% if group_name %}
            {% trans %}of the "%group_name%" group{% endtrans %}
        {% endif %}
{% endblock %}

{% block body %}
    <h1>
        <i class="fa fa-user"></i>
        {{'User index'|trans}}
        {% if group_name %}
            {% trans %}of the "%group_name%" group{% endtrans %} <span style="background-color: #ffff00;" }}>{{ group_shortname }}</span>
        {% endif %}
        ({{ users|length }})
    </h1>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="mb-3">
            {% if group_id %}
                <a class="btn btn-primary" href="{{ path('group_edit', {'id': group_id}) }}"><i class="fas fa-pencil-alt"></i> {{'Edit Group'|trans}}</a>
            {% endif %}
            <a class="btn btn-warning" href="{{ path('user_new') }}"><i class="fas fa-plus"></i> {{'Create new user'|trans}}</a>
        </div>
    {% endif %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'Firstname'|trans }}</th>
                <th>{{ 'Lastname'|trans }}</th>
                <th>{{ 'Username'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>                
                {% if is_granted('ROLE_ADMIN') %}
                {# <th>{{ 'IsActive'|trans }}</th> #}
                <th>{{ 'isVerified'|trans }}</th>
                <th>{{ 'isReady'|trans }}</th> 
                <th>{{ 'Roles'|trans }}</th>
                {% endif %}
                <th>{{ 'Groups'|trans }}</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr 
                class="{{ 'ROLE_SUPER_ADMIN' in user.roles ? 'table-danger' : 'ROLE_ADMIN' in user.roles ? 'table-warning' : 'ROLE_TEACHER' in user.roles ? 'table-primary' : 'table-success' }}"
                {% if not user.isActive %}
                    style="text-decoration: line-through;"                    
                {% endif %}
            >
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td title="{{ 'LoginType'|trans }} : {{ user.loginType }}">
                    {# <i class="fas fa-user"></i>  #}
                    {{ user.username }}
                </td>
                <td>{{ user.email }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                {# <td>{{ user.isActive ? 'Yes' : 'No' }}</td> #}


                {# <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>  #}
                {% if user.isVerified%}       
                    <td class="text-center"><i class="fa fa-at text-success"></i></td> 
                {% else %}   
                    <td class="text-center"><i class="fa fa-at text-danger"></i></td>                          
                {% endif %}

                {% if user.isReady%}       
                    <td class="text-center"><i class="fa fa-unlock text-success"></i></td> 
                {% else %}   
                    <td class="text-center"><i class="fa fa-lock text-danger"></i></td>                          
                {% endif %}

                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                {% endif %}                
                <td>
                    {# {{ user.groups ? user.groups|join(', ') : '' }} #}
                    {% for group in user.groups %}
                        <span {{ group.id == group_id ? 'style="background-color: #ffff00;"' : '' }}>
                        <a href="{{ path('group_edit', {'id': group.id}) }}">{{ group.shortname }}</a><br/>
                        </span>
                    {% endfor %}
                </td>
                <td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="form-check-inline">
                        <a class="btn btn-primary btn-sm mr-2" href="{{ path('user_show', {'id': user.id}) }}" title="{{'Show'|trans}}"><i class="fas fa-eye"></i></a>
                        <a class="btn btn-primary btn-sm mr-2" href="{{ path('user_edit', {'id': user.id}) }}" title="{{'Edit'|trans}}"><i class="fas fa-pencil-alt"></i></a>
                        {% if group_name %}
                            <a class="btn btn-warning btn-sm mr-2" href="{{ path('group_remove_user', {'id': group_id, 'user': user.id}) }}" title="{{'Remove from group'|trans}}"><i class="fas fa-user-times"></i></a>
                        {% endif %}                        
                        {{ include('user/_delete_form.html.twig') }}
                    </div>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{'no records found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if users|length > 10 %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="mb-3">
                {% if group_id %}
                    <a class="btn btn-primary" href="{{ path('group_edit', {'id': group_id}) }}"><i class="fas fa-pencil-alt"></i> {{'Edit Group'|trans}}</a>
                {% endif %}
                <a class="btn btn-warning" href="{{ path('user_new') }}"><i class="fas fa-plus"></i> {{'Create new user'|trans}}</a>
            </div>
        {% endif %}
    {% endif %}    

{% endblock %}
