{% extends 'base.html.twig' %}

{% block title %}{{'Change my password'|trans}}{% endblock %}

{% block body %}
    <h1><i class="fas fa-lock"></i> {{'Change my password'|trans}}</h1>

    {{ form_start(form) }}
        
        {{ form_row(form.email) }}  
        {{ form_row(form.plainPassword) }}
    
        <button class="btn btn-primary"><i class="fas fa-check"></i> {{ button_label|default('Save my password'|trans) }}</button>

    {{ form_end(form) }}

{% endblock %}
